
@{
    ViewBag.Title = "Index2";
}

<h2>Index2</h2>
<hr />

<div>Sayac:</div> @ViewBag.sayac

@using (Html.BeginForm())
{
    <button type="submit" value="arttir" text="arttir" id="arttir">Sayacı Arttır  </button>
    

}
<hr />
@Html.ActionLink("Sayacı Sıfırla", "Index4")
